.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 984px;
    max-height: 1005px;
    margin: 0 auto;
}

@media(max-width: 1024px) {
    .lead {
        max-width: 928px;
        max-height: 962px;
    }
}