.cover__subtitle {
    width: 360px;
    height: 66px;
    margin: 0;
    z-index: 2;
    line-height: 1.22;
    text-align: center;
    margin-top: 32px;
}


@media(max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        height: 48px;
        font-size: 14px;
        margin-top: 16px;
    }
}