.cover__subtitle {
    max-width: 360px;
    z-index: 2;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    margin-top: 32px;
}


@media(max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 114%;
        margin-top: 16px;
    }
}