.header__link {
    color: #ffffff;
    margin-right: 18px;
    text-decoration: none;
}

.header__link:last-child {
    margin: 0;
}

.header__link:hover {
    text-decoration: underline;
}
.header__link:visited {
    text-decoration: underline;
}